/* src/index.css */
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100;400;700&display=swap");
@media (max-width: 1000px) {
  .appWrapper {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
  }
  .workSection,
  .educationSection,
  .generalInfoSection {
    display: flex !important;
    justify-content: none !important;
    align-items: center !important;
    width: 70vw !important;
  }
  .collapseBox {
    justify-content: center !important;
  }
  .collapseBox > h2 {
    margin-left: 2vw;
  }
  .workSection > input,
  .educationSection > input,
  .generalInfoSection > input {
    padding: 0.5vw !important;
    border-radius: 5px !important;
    width: 50vw !important;
  }
  textarea {
    border-radius: 5px !important;
    height: 10vh !important;
    word-wrap: break-word !important;
    width: 50vw !important;
  }
  .collapseButton {
    height: clamp(3vw, 5vw, 8vw) !important;
    transition: transform 0.5s ease-in-out;
  }
  .workH3::before {
    left: -2vw !important;
  }
  .educationChunk::before {
    left: -2vw !important;
  }
  .resumeWrapper {
    width: 86vw !important;
    padding: 4vw !important;
  }
  .collapseButton {
    margin-left: auto !important;
    margin-right: 2vw !important;
  }
}
#root {
  max-width: 1280px;
}
:root {
  --mainColor: rgb(255, 204, 255);
  --secondaryColor: rgb(43, 43, 43);
  font-family: "Big Shoulders Display", sans-serif;
  letter-spacing: 0.05vw;
}
html {
  background-color: rgb(255, 204, 255);
  overflow-x: none;
}
.appWrapper {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 0.8fr 2fr, 1fr, 3fr, 1fr;
  gap: 1rem;
}
.generalInfoSection,
.educationSection,
.workSection {
  gap: 0.5rem;
  background-color: var(--secondaryColor);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: white;
  border-radius: 5px;
  box-shadow: 4px 4px 10px grey;
  grid-column: 1/1;
  grid-row: 2/2;
  padding: 1vw;
}
.generalInfoSection > input,
.educationSection > input,
.workSection > input {
  padding: 0.5vw;
  border-radius: 5px;
  width: 15vw;
}
.headerBox {
  grid-column: 1/1;
  grid-row: 1/1;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  justify-content: center;
}
.resumeWrapper {
  background-color: white;
  border-radius: 5px;
  box-shadow: 8px 8px 10px grey;
  grid-column: 2/3;
  grid-row: 2/6;
  padding: 2vw;
}
.contactInfo {
  gap: 0;
  padding: 0;
}
.icon {
  padding-right: 0.3vw;
}
.educationSection {
  grid-row: 3/4;
}
.educationResumeSection {
  margin-left: 0.5vw;
}
.descriptionSection > p {
  margin-left: 0.5vw;
}
#personalDesc {
  height: 10vh;
  text-overflow: wrap;
}

textarea {
  border-radius: 5px;
  height: 10vh;
  word-wrap: break-word;
  width: 16vw;
  resize: vertical;
}

.workResumeSection {
  margin-left: 0.5vw;
}
.workSectionTitle {
  margin-left: 0.5vw;
}
.workH3,
.educationChunk {
  position: relative;
  margin-left: 1vw;
}
.workH3::before {
  content: "•"; /* Bullet symbol */
  position: absolute;
  left: -0.8vw; /* Align bullet to the left */
  top: 0.08vw; /* Align bullet with the text */
  font-size: 1.5rem; /* Adjust bullet size */
  color: black; /* Bullet color */
}
.educationChunk::before {
  content: "•"; /* Bullet symbol */
  position: absolute;
  left: -0.8vw; /* Align bullet to the left */
  top: -0.2vw; /* Align bullet with the text */
  font-size: 1.5rem; /* Adjust bullet size */
  color: black; /* Bullet color */
}
.workSection {
  grid-row: 4/4;
}
.collapseBox {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.collapseButton:hover {
  transform: scale(1.2);
  transition: transform 300ms;
}
.collapseButton {
  height: clamp(1vw, 3vw, 8vw);
  transition: transform 0.5s ease-in-out;
}

.collapseButton.flipped {
  transform: rotate(180deg);
}
@keyframes flip {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(180deg);
  }
}
